In [ ]:
#matplotlib-challenge by Taylor Walraven
#objectives:
# Creating a scatter plot that shows how the tumor volume changes over time for each treatment.
# Creating a scatter plot that shows how the number of metastatic (cancer spreading) sites changes over time for each treatment.
# Creating a scatter plot that shows the number of mice still alive through the course of treatment (Survival Rate)
# Creating a bar graph that compares the total % tumor volume change for each drug across the full 45 days.
# Include 3 observations about the results of the study. Use the visualizations you generated from the study data as the basis for your observations.
#considerations:
# You must use proper labeling of your plots, including aspects like: Plot Titles, Axes Labels, Legend Labels, X and Y Axis Limits, etc.
# Your scatter plots must include error bars
# Your legends should not be overlaid on top of any data.
# Your bar graph should indicate tumor growth as red and tumor reduction as green.
# It should also include a label with the percentage change for each bar.

In [2]:
#Dependencies
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#Ease of Use
import warnings
warnings.filterwarnings('ignore')

#CSV Files
mouse_drug_csv = "data/mouse_drug_data.csv"
trials_csv = "data/clinicaltrial_data.csv"

In [3]:
#create dataframes
mouse_df = pd.read_csv(mouse_drug_csv)
trials_df = pd.read_csv(trials_csv)

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [9]:
trials_df

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
5        h246          0           45.000000                 0
6        p189          0           45.000000                 0
7        n923          0           45.000000                 0
8        q119          0           45.000000                 0
9        f993          0           45.000000                 0
10       z234          0           45.000000                 0
11       b559          0           45.000000                 0
12       y260          0           45.000000                 0
13       x930          0           45.000000                 0
14       o725          0           45.000000                 0
15       z969          0           45.000000                 0
16       v835          0           45.000000                 0
17       r604          0           45.000000                 0
18       n304          0           45.000000                 0
19       l700          0           45.000000                 0
20       x336          0           45.000000                 0
21       l725          0           45.000000                 0
22       m133          0           45.000000                 0
23       v295          0           45.000000                 0
24       a818          0           45.000000                 0
25       y601          0           45.000000                 0
26       t724          0           45.000000                 0
27       k382          0           45.000000                 0
28       w422          0           45.000000                 0
29       c326          0           45.000000                 0
...       ...        ...                 ...               ...
1863     l700         45           63.946640                 1
1864     l733         45           64.299830                 1
1865     n304         45           63.586395                 4
1866     o795         45           73.059454                 4
1867     u196         45           40.667713                 3
1868     r604         45           62.670759                 3
1869     z969         45           73.867845                 4
1870     g791         45           29.128472                 1
1871     i635         45           58.633404                 3
1872     o287         45           59.741901                 4
1873     r701         45           69.778544                 1
1874     r811         45           37.225650                 1
1875     u327         45           66.268801                 2
1876     s565         45           72.588964                 2
1877     g570         45           70.492788                 2
1878     i557         45           47.685963                 1
1879     a644         45           32.978522                 1
1880     j755         45           69.563621                 1
1881     e213         45           63.105696                 4
1882     e584         45           68.359777                 4
1883     t718         45           63.423695                 4
1884     o562         45           72.455421                 2
1885     i177         45           33.562402                 3
1886     v991         45           70.167749                 4
1887     z795         45           65.741070                 3
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [10]:
#combine dataframes
merged_df =pd.merge(mouse_df, trials_df, left_on='Mouse ID', right_on='Mouse ID')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1906 entries, 0 to 1905
Data columns (total 5 columns):
Mouse ID              1906 non-null object
Drug                  1906 non-null object
Timepoint             1906 non-null int64
Tumor Volume (mm3)    1906 non-null float64
Metastatic Sites      1906 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 89.3+ KB

In [14]:
merged_df

     Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        f234  Stelasyn          0           45.000000                 0
1        f234  Stelasyn          5           47.313491                 0
2        f234  Stelasyn         10           47.904324                 0
3        f234  Stelasyn         15           48.735197                 1
4        f234  Stelasyn         20           51.112713                 2
5        f234  Stelasyn         25           52.178602                 2
6        f234  Stelasyn         30           56.873817                 2
7        f234  Stelasyn         35           57.748758                 2
8        x402  Stelasyn          0           45.000000                 0
9        x402  Stelasyn          5           46.327570                 1
10       x402  Stelasyn         10           46.886962                 1
11       x402  Stelasyn         15           49.119948                 1
12       x402  Stelasyn         20           50.414750                 2
13       x402  Stelasyn         25           52.431737                 2
14       x402  Stelasyn         30           54.351585                 3
15       x402  Stelasyn         35           55.240962                 3
16       x402  Stelasyn         40           56.691723                 3
17       x402  Stelasyn         45           61.619606                 3
18       a492  Stelasyn          0           45.000000                 0
19       a492  Stelasyn          5           46.409143                 0
20       a492  Stelasyn         10           48.432197                 0
21       a492  Stelasyn         15           51.985263                 0
22       a492  Stelasyn         20           53.677193                 0
23       a492  Stelasyn         25           54.701229                 1
24       a492  Stelasyn         30           56.201041                 1
25       a492  Stelasyn         35           57.308554                 1
26       a492  Stelasyn         40           57.928499                 1
27       a492  Stelasyn         45           60.122011                 1
28       w540  Stelasyn          0           45.000000                 0
29       w540  Stelasyn          5           45.885370                 1
...       ...       ...        ...                 ...               ...
1876     i669   Placebo         25           53.303185                 2
1877     r850   Placebo          0           45.000000                 0
1878     r850   Placebo          5           46.862912                 0
1879     r850   Placebo         10           48.515091                 1
1880     r850   Placebo         15           50.218605                 1
1881     a262   Placebo          0           45.000000                 0
1882     a262   Placebo          5           48.717568                 1
1883     a262   Placebo         10           49.595181                 1
1884     a262   Placebo         15           53.827974                 2
1885     a262   Placebo         20           57.013313                 2
1886     a262   Placebo         25           60.131862                 2
1887     a262   Placebo         30           64.958092                 3
1888     a262   Placebo         35           66.561963                 4
1889     a262   Placebo         40           69.592732                 4
1890     a262   Placebo         45           70.717621                 4
1891     q787   Placebo          0           45.000000                 0
1892     q787   Placebo          5           47.116616                 0
1893     q787   Placebo         10           48.593862                 1
1894     q787   Placebo         15           49.217732                 2
1895     q787   Placebo         20           50.229934                 2
1896     q787   Placebo         25           52.713188                 2
1897     q787   Placebo         30           55.036206                 2
1898     q787   Placebo         35           60.333852                 3
1899     q787   Placebo         40           62.034127                 3
1900     q787   Placebo         45           66.096475                 3
1901     j235   Placebo          0           45.000000                 0
1902     j235   Placebo          5           46.588820                 0
1903     j235   Placebo         10           48.018788                 1
1904     j235   Placebo         15           51.161138                 1
1905     j235   Placebo         20           52.942902                 1

[1906 rows x 5 columns]

In [15]:
#scatter plot tumor volume changes over time per treament
#each mouse has a treatment and mult. timepoints from trials_df, each with a tumor volume and and sites count
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1906 entries, 0 to 1905
Data columns (total 5 columns):
Mouse ID              1906 non-null object
Drug                  1906 non-null object
Timepoint             1906 non-null int64
Tumor Volume (mm3)    1906 non-null float64
Metastatic Sites      1906 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 89.3+ KB

In [54]:
#compute and plot average tumor volume and site counts per timepoint per drug
plot2 = merged_df.groupby(['Drug','Timepoint'])

In [55]:
plot2.mean()

                     Tumor Volume (mm3)  Metastatic Sites
Drug      Timepoint
Capomulin 0                   45.000000          0.000000
          5                   44.266086          0.160000
          10                  43.084291          0.320000
          15                  42.064317          0.375000
          20                  40.716325          0.652174
          25                  39.939528          0.818182
          30                  38.769339          1.090909
          35                  37.816839          1.181818
          40                  36.958001          1.380952
          45                  36.236114          1.476190
Ceftamin  0                   45.000000          0.000000
          5                   46.503051          0.380952
          10                  48.285125          0.600000
          15                  50.094055          0.789474
          20                  52.157049          1.111111
          25                  54.287674          1.500000
          30                  56.769517          1.937500
          35                  58.827548          2.071429
          40                  61.467895          2.357143
          45                  64.132421          2.692308
Infubinol 0                   45.000000          0.000000
          5                   47.062001          0.280000
          10                  49.403909          0.666667
          15                  51.296397          0.904762
          20                  53.197691          1.050000
          25                  55.715252          1.277778
          30                  58.299397          1.588235
          35                  60.742461          1.666667
          40                  63.162824          2.100000
          45                  65.755562          2.111111
...                                 ...               ...
Ramicane  0                   45.000000          0.000000
          5                   43.944859          0.120000
          10                  42.531957          0.250000
          15                  41.495061          0.333333
          20                  40.238325          0.347826
          25                  38.974300          0.652174
          30                  38.703137          0.782609
          35                  37.451996          0.952381
          40                  36.574081          1.100000
          45                  34.955595          1.250000
Stelasyn  0                   45.000000          0.000000
          5                   47.527452          0.240000
          10                  49.463844          0.478261
          15                  51.529409          0.782609
          20                  54.067395          0.952381
          25                  56.166123          1.157895
          30                  59.826738          1.388889
          35                  62.440699          1.562500
          40                  65.356386          1.583333
          45                  68.438310          1.727273
Zoniferol 0                   45.000000          0.000000
          5                   46.851818          0.166667
          10                  48.689881          0.500000
          15                  50.779059          0.809524
          20                  53.170334          1.294118
          25                  55.432935          1.687500
          30                  57.713531          1.933333
          35                  60.089372          2.285714
          40                  62.916692          2.785714
          45                  65.960888          3.071429

[100 rows x 2 columns]